name: Linter

on:
  push:
    branches: [ main, cicd ]
  pull_request:
    branches: [ main, cicd ]

jobs:
  lint:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle
    
    - name: Make gradlew executable
      run: chmod +x gradlew
    
    - name: Run linter checks
      run: ./gradlew check
    
    - name: Build with Gradle
      run: ./gradlew build
